<!DOCTYPE html>
<html>
<head id="head">
</head>
<body>
<div class="alert alert-danger" role="alert" id="error">
    error
</div>
<h1 id="mediaConnections">Media connections </h1>
<div id="namesList">
    <ul>
        <li>
            <a href="mediumMeters.html">Medium link 1</a>
        </li>
        <li>
            <a href="mediumMeters.html">Medium link 2</a>
        </li>
    </ul>
</div>
<div>
    <a id="newMediumLink" href="mediumAdd.html" class="btn btn-outline-secondary">Connect new medium</a>
</div>
</body>
</html>