<!DOCTYPE html>
<html>

<head id="head">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    <h1 id="mediumHeader">Connected medium: </h1>
    <p id="mediumName">Medium name</p>
    <a class="btn btn-lg" href="ddd" id="metersButton">Liczn</a>
</div>

</body>
</html>