<!DOCTYPE html>
<html lang="en">
<head id="head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</head>
<body>
<h1 id="meters">Medium meters</h1>
<h2 id="mediumName">[Medium name]</h2>

<div id="namesList">    <ul>
        <li>
            <a href="meter.html">Meter link 1</a>
        </li>
        <li>
            <a href="meter.html">Meter link 2</a>
        </li>
    </ul>
</div>

<a id="showInactive" href="" class="btn btn-outline-secondary">show active/inactive</a>
<a id="showActive" class="btn btn-outline-secondary"></a>
<br>
<a id="addMeter" href="" class="btn btn-outline-secondary">Add medium meter</a>


</body>
</html>