<!DOCTYPE html>
<html>

<head id="head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    <h1 id="mediumHeader">Connected medium: </h1>
    <p id="mediumName">Medium name</p>
    <a id="metersButton" href="ddd" class="btn btn-lg">Liczn</a>
</div>

</body>
</html>