<!DOCTYPE html>
<html>
<head id="head">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="alert alert-danger" id="error" role="alert">
    error
</div>
<h1 id="pageHeader">Media connections </h1>
<div id="namesList">
    <ul>
        <li>
            <a href="mediumMeters.html">Medium link 1</a>
        </li>
        <li>
            <a href="mediumMeters.html">Medium link 2</a>
        </li>
    </ul>
</div>
<div>
    <a class="btn btn-outline-secondary" href="mediumAdd.html" id="newMediumLink">Connect new medium</a>
</div>
</body>
</html>