<!DOCTYPE html>
<html lang="en">
<head id="head">
</head>
<body>
<h1 id="addMediumHeader">Add a medium</h1>
<form id="newMediumForm" method="post" action="">
    <p>
        <label id="mediumNameLabel" for="mediumNameInput">Medium name</label>
        <input type="text" id="mediumNameInput"/>
    </p>

    <p>
        <label id="meterNumberLabel" for="meterNumberInput">Meter number</label>
        <input type="text" id="meterNumberInput"/>
    </p>

    <p>
        <label id="firstReadingLabel" for="firstReadingInput">First meter reading</label>
        <input id="firstReadingInput" type="number"/>
    </p>
    <p>
        <label id="meterUnitLabel" for="meterUnitInput">Meter unit</label>
        <input id="meterUnitInput" type="text" />
    </p>

    <button id="addButton" type="submit">SUBMIT</button>
</form>
</body>
</html>