<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connections</title>
</head>
<body>
<form id="newMediumForm" method="post" action="trololo">

    <p>
        <label id="mediumNameLabel" for="mediumNameInput"></label>
        <input type="text" id="mediumNameInput"/>
    </p>

    <p>
        <label id="meterNumberLabel" for="meterNumberInput"></label>
        <input type="text" id="meterNumberInput"/>
    </p>

    <p>
        <label id="firstReadingLabel" for="firstReadingInput"></label>
        <input id="firstReadingInput" type="number"/>
    </p>
    <p>
        <label id="meterUnitLabel" for="meterUnitInput"></label>
        <input id="meterUnitInput" type="text" />
    </p>

    <button id="addButton" type="submit"></button>
</form>
</body>
</html>